USE [master]
GO
/****** Object:  Database [MUZEI]    Script Date: 04.10.2022 15:25:32  ******/
CREATE DATABASE [MUZEI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MUZEI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MUZEI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MUZEI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MUZEI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MUZEI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MUZEI]
GO
/****** Object:  Table [dbo].[Выставки]    Script Date: 04.10.2022 15:25:32  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Выставки](
	[Код выставки] [int] NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Дата поступления] [date] NOT NULL,
	[Автор] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Выставки] PRIMARY KEY CLUSTERED 
(
	[Код выставки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Коллекции]    Script Date: 04.10.2022 15:25:32  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Коллекции](
	[Код коллекции] [int] NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Дата поступления] [date] NOT NULL,
	[Автор] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Коллекции] PRIMARY KEY CLUSTERED 
(
	[Код коллекции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Музеи]    Script Date: 04.10.2022 15:25:32  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Музеи](
	[Код музея] [int] NOT NULL,
	[Название музея] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](100) NOT NULL,
	[Телефон] [int] NOT NULL,
	[Сотрудник] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Музеи] PRIMARY KEY CLUSTERED 
(
	[Код музея] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 04.10.2022 15:25:32  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Код сотрудника] [int] NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[Должность] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Экспонаты]    Script Date: 04.10.2022 15:25:32  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Экспонаты](
	[Код экспоната] [int] NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Дата поступления] [date] NOT NULL,
	[Автор] [nvarchar](100) NOT NULL,
	[Материал] [nvarchar](100) NOT NULL,
	[Техника] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Экспонаты] PRIMARY KEY CLUSTERED 
(
	[Код экспоната] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Музеи] ([Код музея], [Название музея], [Адрес], [Телефон], [Сотрудник]) VALUES (1, N'Россия - моя история ', N'Уткина 5', 11223121, N'птпт')
INSERT [dbo].[Музеи] ([Код музея], [Название музея], [Адрес], [Телефон], [Сотрудник]) VALUES (2, N'лтлптлплпл', N'иолпилпо', 7878787, N'аааа')
GO
ALTER TABLE [dbo].[Выставки]  WITH CHECK ADD  CONSTRAINT [FK_Выставки_Музеи] FOREIGN KEY([Код выставки])
REFERENCES [dbo].[Музеи] ([Код музея])
GO
ALTER TABLE [dbo].[Выставки] CHECK CONSTRAINT [FK_Выставки_Музеи]
GO
ALTER TABLE [dbo].[Коллекции]  WITH CHECK ADD  CONSTRAINT [FK_Коллекции_Музеи] FOREIGN KEY([Код коллекции])
REFERENCES [dbo].[Музеи] ([Код музея])
GO
ALTER TABLE [dbo].[Коллекции] CHECK CONSTRAINT [FK_Коллекции_Музеи]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Музеи] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Музеи] ([Код музея])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Музеи]
GO
ALTER TABLE [dbo].[Экспонаты]  WITH CHECK ADD  CONSTRAINT [FK_Экспонаты_Музеи] FOREIGN KEY([Код экспоната])
REFERENCES [dbo].[Музеи] ([Код музея])
GO
ALTER TABLE [dbo].[Экспонаты] CHECK CONSTRAINT [FK_Экспонаты_Музеи]
GO
USE [master]
GO
